@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Yanone+Kaffeesatz:wght@200..700&display=swap" rel="stylesheet');

body {
    line-height: 1.4;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
main {
    column-count: 3;
    column-gap: 25px;
}
h1 {
    border-style: solid;
}
h2 {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Yanone Kaffesatz';
}
h4 {
    font-size: 1.2rem;
}
header p {
    text-align: center;
    font-size: 1.5rem;
}