/* ================= BODY ================= */

body {
    background-color: rgb(231, 228, 228);
}


/* ================= HEADER ================= */

header {
    padding-bottom: 50px;
    background-image: linear-gradient(to top, black, white);
    border-radius: 10px;
}
header nav {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
header ul {
    list-style-type: none;
}
header a:link {
    text-decoration: none;
    color: black;
}
header a:hover {
    color: grey;
}
header div {
    text-align: right;
}
header h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header h2 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header h3 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}
header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}


/* ================= MAIN ================= */

main h3 {
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 180px;
    padding-bottom: 20px;
}
main p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 20px;
    padding-left: 180px;
    position:absolute;
}


/* ================= ASIDE ================= */

section {
    text-align: justify;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.4;
    font-size: 15px;
    padding-left: 1040px;
}


/* ================= SECTION ================= */

aside {
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.4;
    font-size: 15px;
    padding-left: 1000px;
    padding-top: 100px;
}
aside h3 {
    padding-left: 40px;
}
aside div {
    padding-left: 220px;
}


/* ================= FOOTER ================= */

footer {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    padding-top: 1200px;
}
footer ul {
    list-style-type: none;
}
footer li {
    display: inline;
}
footer a:link {
    text-decoration: none;
    color: black;
}