/* 
==============================
=========== HEADER ===========
==============================
*/

/*<=== homebase ===>*/
header > h1 { 
    font-size: 80px;
    text-transform: lowercase;
    margin: 0px;
    width: 95%;
    /* border: 2px solid; */
}

/* <=== Red half of homebase ===> */
header > h1 em { 
    color: red;
    font-style: normal;
}

/* <=== South Central Ontario ===> */
header > p { 
    font-size: 15px;
    text-transform: uppercase;
    width: 60%;
    position: absolute;
    top: 55px;
    /* border: 2px solid; */
}


/* 
==============================
=========== BODY =============
==============================
*/

/* <=== Outside spacing ===> */
body {
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
    /* border: 2px solid; */
}

/* <=== Border ===> */
#container {
    border: 1.3px solid #000000;
}


/* 
==============================
=========== MAIN =============
==============================
*/

/* <=== A Dog Day Afternoon (h2) ===> */
main > article:nth-of-type(1) > h2 { 
    color: red;
    font-size: 30px;
    margin: 0;    
    width: 30%;
    position: relative;
    left: 480px;
    /* border: 2px solid; */
}

main > article:nth-of-type(1) {
    font-size: 13px;
    text-align: justify;
    line-height: 1.4;
    /* border: 2px solid; */
}

main > article:nth-of-type(2) {
    font-size: 13px;
    text-align: justify;
    line-height: 1.4;
    /* border: 2px solid; */
}

/* <=== Gray box (lower left hand corner) */
main > aside:nth-of-type(2) {
    font-size: 13px;
    text-align: justify;
    line-height: 1.4;
    width:23%;
    border: 2px solid;
}

/* <=== On The Slopes (h2) ===> */ 
main > article:nth-of-type(2) > h2 { 
    color: black;
    font-size: 40px;
    margin: 0%;
    width: 25%;
    position: relative;
    top: 400px;
    left: 500px;
    /* border: 2px solid; */
}

main > article > p {
    margin: 0;
    width: 550px;
    /* float: right; */
    /* border: 2px solid; */
}

 main > article:nth-of-type(1) > p {
    position: relative;
    left: 480px;
    /* border: 2px solid; */
 }

  main > article:nth-of-type(2) > p {
    position: relative;
    left: 480px;
    top: 400px;
    border: 2px solid;
 }

aside {
    width: 17%;
    padding-left: 2em;
    border: 3px solid;
}

aside:nth-of-type(1) > p {
    line-height: 1.6;
    width: 150px;
    position: absolute;
    top: 270px;
    /* border: 2px solid; */
}

aside:nth-of-type(1) > p:nth-of-type(1) {
    line-height: 1.6;
    width: 150px;  
    position: absolute;
    top: 250px;
    /* border: 2px solid; */
}

aside:nth-of-type(1) > p:nth-of-type(2) {
    line-height: 1.6;
    width: 150px; 
    position: absolute;
    top: 540px;
    /* border: 2px solid; */
}

aside:nth-of-type(2) > p {
    font-size: 13px;
    line-height: 1.4;
    margin: 0;
    width: 200px; 
    /* border: 2px solid; */
}

aside > h2 {
    color: red;
    margin: 0;
    width: 80%;
    /* border: 2px solid; */
}

aside > h2::before {
    color: black;
    content: "+ "; 
    /* border: 2px solid; */
}

[title="Sir Sams"] {
    color: black;
}

ul > li > h3 {
    margin: 0;
    /* border: 2px solid; */
}


/* 
==============================
=========== IMAGES ===========
==============================
*/

/* <=== Dog picture ===> */
img[alt="Dog and owner"] {
    width: 15%;
    position: absolute;
    top: 90px;
    right: 140px;
    /* float: right; */
    /* padding-right: 2em; */
    /* border: 2px solid; */
}
/* <=== Sledding picture ===> */
img[alt="Snow tubing"] {
    width: 30%;
    position: absolute;
    left: 650px;
    top: 500px;
    /* padding-right: 2em; */
    /* border: 2px solid; */
} 


/* 
==============================
=========== FOOTER ===========
==============================
*/
footer > p {
    font-size: 14px;
    text-transform: lowercase;
    width: 10%;
    position: absolute;
    /* border: 2px solid; */
}

[title="Canadian Automotive Association"] {
    font-weight: bold;
    text-transform: uppercase;
}

/* 
=========================================
=========== Universal Selectors =========
=========================================
*/

mark {
    background-color: lightgrey;
}

ul {
    font-size: 13px;
    list-style-type: "+ ";
    padding-inline-start: 10px;
    /* border: 2px solid; */
}

li:nth-of-type(3) {
    width: 130px;
}

a:link {
    color: black;
    font-weight: bold;
    text-decoration: none;  
}

em {
    font-style: normal;
    font-weight: bold;
}


/* References Used:

https://youtu.be/l1mER1bV0N0 
https://www.w3schools.com/cssref/css_selectors.php
https://developer.mozilla.org/en-US/docs/Web/CSS/
Guides/Flexible_box_layout/Ordering_items
https://htmlcheatsheet.com/css/ */
