/* 
==============================
=========== HEADER ===========
==============================
*/
header {
    /* display: flex;
    flex-direction: column-reverse;
    width: 30%; */
    /* border: 2px solid; */
}

header > h1 { /* homebase */
    /* float: left; */
    text-transform: lowercase;
    font-size: 80px;
    margin: 0px;
    width: 95%;
    /* border: 2px solid; */
}

header > h1 em { /* Red half of homebase */
    color: red;
    font-style: normal;
}

header > p { /* South Central Ontario */
    text-transform: uppercase;
    font-size: 15px;
    width: 60%;
    position: absolute;
    top: 55px;
    /* border: 2px solid; */
}


/* 
==============================
=========== BODY =============
==============================
*/

body {
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
    /* text-align: justify; */
    /* border: 2px solid; */
}

#container {
    border: 1.3px solid #000000;
}


/* 
==============================
=========== MAIN =============
==============================
*/

main > article:nth-of-type(1) > h2 { /* A Dog Day Afternoon */
    /* float: right; */
    margin: 0;
    color: red;
    font-size: 30px;
    width: 30%;
    position: relative;
    left: 480px;
    /* border: 2px solid; */
}

main > article:nth-of-type(1) {
    text-align: justify;
    line-height: 1.4;
    font-size: 13px;
    /* border: 3px solid; */
}

main > article:nth-of-type(2) {
    text-align: justify;
    line-height: 1.4;
    font-size: 13px;
    /* border: 3px solid; */
}

main > aside:nth-of-type(2) {
    text-align: justify;
    line-height: 1.4;
    font-size: 13px;
    width:23%;
    /* border: 2px solid; */
}

main > article:nth-of-type(2) > h2 { /* On The Slopes */ 
    margin: 0%;
    color: black;
    font-size: 40px;
    width: 25%;
    position: relative;
    top: 400px;
    left: 500px;
    /* border: 2px solid; */
}

main > article > p {
    margin: 0;
    width: 550px;
    /* float: right; */
    /* border: 2px solid; */
}

 main > article:nth-of-type(1) > p {
    position: relative;
    left: 480px;
    /* border: 2px solid; */
 }

  main > article:nth-of-type(2) > p {
    position: relative;
    left: 480px;
    top: 400px;
    /* border: 2px solid; */
 }

aside {
    padding-left: 2em;
    width: 17%;
    /* border: 3px solid; */
}

aside:nth-of-type(1) > p {
    width: 150px;
    line-height: 1.6;
    position: absolute;
    top: 270px;
    /* border: 2px solid; */
}

aside:nth-of-type(1) > p:nth-of-type(1) {
    width: 150px;
    line-height: 1.6;
    position: absolute;
    top: 250px;
    /* border: 2px solid; */
}

aside:nth-of-type(1) > p:nth-of-type(2) {
    width: 150px;
    line-height: 1.6;
    position: absolute;
    top: 540px;
    /* border: 2px solid; */
}

aside:nth-of-type(2) > p {
    margin: 0;
    width: 200px;
    line-height: 1.4;
    font-size: 13px;
    /* border: 2px solid; */
}

aside > h2 {
    margin: 0;
    color: red;
    width: 80%;
    /* border: 2px solid; */
}

aside > h2::before {
    content: "+ ";
    color: black;
    /* border: 2px solid; */
}

[title="Sir Sams"] {
    color: black;
}

ul > li > h3 {
    margin: 0;
    /* border: 2px solid; */
}


/* 
==============================
=========== IMAGES ===========
==============================
*/

img[alt="Dog and owner"] {
    width: 15%;
    position: absolute;
    top: 90px;
    right: 140px;
    /* float: right; */
    /* padding-right: 2em; */
    /* border: 2px solid; */
}

img[alt="Snow tubing"] {
    width: 30%;
    position: absolute;
    left: 650px;
    top: 500px;
    /* padding-right: 2em; */
    /* border: 2px solid; */
} 


/* 
==============================
=========== FOOTER ===========
==============================
*/
footer > p {
    text-transform: lowercase;
    font-size: 14px;
    width: 10%;
    position: absolute;
    /* border: 2px solid; */
}

[title="Canadian Automotive Association"] {
    font-weight: bold;
    text-transform: uppercase;
}

/* 
=========================================
=========== Universal Selectors =========
=========================================
*/

mark {
    background-color: lightgrey;
}

ul {
    list-style-type: "+ ";
    font-size: 13px;
    padding-inline-start: 10px;
    /* border: 2px solid; */
}

li:nth-of-type(3) {
    width: 130px;
}

a:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

em {
    font-style: normal;
    font-weight: bold;
}


/* References Used:

https://youtu.be/l1mER1bV0N0 
https://www.w3schools.com/cssref/css_selectors.php
https://developer.mozilla.org/en-US/docs/Web/CSS/
Guides/Flexible_box_layout/Ordering_items
https://htmlcheatsheet.com/css/ */
